@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
}

/* Hide input border when typing */
/* input {
  outline: none;
  background: transparent;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.map-line {
  border: 3px solid rgb(185, 189, 194);
  border-radius: 4pt;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scaffold {
    border: 1px solid red;
  }
}
